body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

.content {
  background-color: #f0f0f0;
  width: 80%;
  margin: 30px auto;
  text-align: center;

  section {
    padding: 50px 0 50px;

    &.logos {
      span, img {
        vertical-align: middle;
        margin: 0 50px;
      }
      span {
        font-size: 5em;
        font-weight: bold;
      }
      img {
        width: 150px;
      }
    }

    .link {
      border-radius: 100px;
      border: 7px solid #191919;
      width: 200px;
      height: 150px;
      line-height: 150px;
      display: inline-block;
      margin-right: -25px;
      text-align: center;
      img {
        vertical-align: middle;
        height: 90%;
        animation: spin infinite 0.5s linear;
      }
    }

    &.info {
      font-size: 1.5em;
      font-weight: bold;
      color: red;
    }

  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
